In [4]:
import pandas as pd
import numpy as np
import os

Download the data

Pull in the data.   Create separate dataframes for the state by state data and the investor information.

In [10]:
# set the base directory
os.chdir('/home/jovyan/data-512/data-512-final/data-512-final')

# read the data
df_inv = pd.read_csv('raw_data/NFCS_2018_Investor_Data_191107.csv')
df_sbs = pd.read_csv('raw_data/NFCS_2018_State_Data_190603.csv')

In [11]:
# preview the results
df_inv.head()

,NFCSID,A1,A2,A3,B2_1,B2_2,B2_3,B2_4,B2_5,B2_7,...,G12,G13,H2,H3,WGT1,S_Gender,S_Age,S_Ethnicity,S_Education,S_Income
0,2018010042,2,1,1,98,98,1,1,98,2,...,3,4,1,2,0.910655,2,3,1,1,2
1,2018010047,1,1,1,1,1,1,1,1,2,...,2,2,1,1,1.566608,1,1,2,2,2
2,2018010050,2,1,1,1,1,2,2,2,2,...,98,98,1,2,0.609443,2,3,1,2,2
3,2018010051,1,1,1,2,2,1,2,1,2,...,1,4,1,2,0.609443,1,3,1,2,2
4,2018010053,1,1,1,1,1,1,1,2,1,...,3,4,1,1,0.609443,1,3,1,2,3